/* This file is for your main application css. */

/* Alerts and form errors */
* {
  margin: 0;
}
a {
  color: blue;
  margin: 0 5px 0 5px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
h1 {
  padding: 5px
}
h2 {
  padding: 2.5px
}
h3 {
  padding: 1px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 20px 0;
  width: 100%;
  border-bottom: 2px inset;
}
label {
  padding-bottom: 5px;
}
main {
  padding: 20px;
  margin: 0 auto;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.color-blue {
  background-color: rgb(177, 177, 255)
}
.color-green {
  background-color: rgb(173, 255, 173)
}
.color-orange {
  background-color: rgb(255, 208, 121)
}
.color-purple {
  background-color: rgb(255, 185, 255)
}
.color-red {
  background-color: rgb(241, 151, 151);
}
.color-yellow {
  background-color: rgb(255, 255, 174)
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
.note {
  border: 1px solid black;
  list-style: none;
  padding: 10px;
  width: 200px;
  height: 200px;
  margin: 5px;
  text-align: center;
}
.note-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%
}
#body-label {
  vertical-align: top;
}
